body{
    font-family: 'Red Hat Display', sans-serif;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
}
.container{
    margin-top: 102px;
    width:450px;
    height:697px;
    background: #FFFFFF;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
    border-radius: 20px;
    z-index: 1;
    position: relative;
}
.background-desktop{
    position: absolute;
    top:0;
    width: 1440px;
    height: 437px;  
    
}
.illustration-hero{
    border-radius: 20px 20px 0px 0px;
    background: #382AE1
}
h1{
    text-align: center;
}
.order-summary{
    width:354px;
    height:37px;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 45px;
}
.div-p{
    width:354px;
    height:78px;
    margin-top: 17px;
    margin-left: 48px;
    margin-right: 48px;
    
}
p{
    text-align: center;
    font-family:Red Hat Display;
    font-weight: 500px;
    font-size: 16px;
    color: #717FA6;
}
.div-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 48px;
    margin-right: 48px;
    width:354px;
    height:98px;
    box-sizing: border-box;
}
.icon-music{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 24px;
    width:48px;
    height:48px;
}
.planprice{
    display:flex;
    flex-direction: column;
    margin-left: 20px;
    gap:6px;
    
}
.div-priceinner{
    display:flex;
}
.annual-plan{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 21px;
    color: #1F2E55;
    
}
.price-year{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    

}
